<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Propuestas Diseño Grafico</div>
		</div>
		<div class ="subheader">
		<span>Iniciar Sesion </span>
		</div>
		<br>
		 <%= form_tag sessions_path do %>		
				
		<div class="login">
				<%= text_field_tag :email,params[:email], type: "text", :placeholder => "email"%>
				<%= password_field_tag :password,nil,:placeholder => "password"%>
				<p class="button"><%= submit_tag "Iniciar sesion" %></p>
				<p><%= notice %></p>
				<%= link_to 'VER PROPUESTAS', requests_path %> <br></br>
<% @search = User.find_by_id(1) %>
<% if @search.blank? %>
	<%= link_to 'CREAR ADMINISTRADOR', sign_up_path %>
<% end %>
		</div>
		<% end %>
