<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Propuestas Diseño Grafico</div>
		</div>
		<div class ="subheader">
		<span>Iniciar Sesion </span>
		</div>
		<br>
		 <%= form_tag sessions_path do %>		
				
		<div class="login">
				<%= text_field_tag :email,params[:email], type: "text", :placeholder => "email"%>
				<%= password_field_tag :password,nil,:placeholder => "password"%>
				<p class="button"><%= submit_tag "Log in" %></p>
				<p class= "error"><%= label_tag name=hola,notice %></p>
		</div>
		<% end %>
