<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<% if current_user %>
	<p>
    <%= f.label :Nombre %><br />
    <%= f.hidden_field :name, {:value => current_user.name, :name => 'user[name]'} %>
		<%= current_user.name %>
  </p>
		<p>
			<%= f.label :Email %><br />
			<%= f.hidden_field :email, {:value => current_user.email, :name => 'user[email]'} %>				
			<%= current_user.email %>
		</p>
	<p>
    <%= f.label :Cuenta %><br />
    <%= f.hidden_field :cuenta, {:value => current_user.cuenta, :name => 'user[cuenta]'} %>
		<%= current_user.cuenta %>
  </p>
  <p>
    <%= f.label :Telefono %><br />
    <%= f.text_field :telefono %>
  </p>
  <p>
    <%= f.label :Informacion_Adicional %><br />
    <%= f.text_field :informacion_adicional %>
  </p>
		Para hacer los cambios ingrese su contraseña (tambien la puede cambiar).
	</p>
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :Confirmar_Contraseña%><br />
    <%= f.password_field :password_confirmation %>
  </p>
	<% end %>
  <p class="button"><%= f.submit 'Registrar' %></p>
  
<% end %>


