<% if userIsCoordinator %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @user.cuenta %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Informacion_Adicional:</strong>
  <%= @user.informacion_adicional %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Regresar', "/requests" %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
