<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Clase %><br>
    <select name="request[course_id]">
      <% Course.all.each do |c| %>
        <option value="<%= c.id %>"><%= c.name %> — Req: <%=c.requirements%></option>
      <% end %>
    </select>
  </div>
  <div class="field">
    <%= f.label :Horario %><br>
    <select name="request[schedule_id]">
      <% Schedule.all.each do |s| %>
        <option value="<%= s.id %>"><%= s.name %></option>
      <% end %>
    </select>
  </div>

  <div class="actions">
    <input type=submit value="Crear Propuesta", onClick="if(confirm('Recuerde que esta clase solo se abrira si cuenta con 15 Alumnos'));">
  </div>
<% end %>

<p><%= notice %></p>
</section>
</div>
