<div class="content-wrapper">
 <section class="content-header">
<% if current_user %>
<% if userIsCoordinator %>
	<h1>Editando clase</h1>

	<%= render 'form' %>

	<%= link_to 'Mostrar', @course %> |
	<%= link_to 'Regresar', courses_path %>
<% else %>
	<%= controller.redirect_to requests_path %>
<% end %>
<% else %>
<%= controller.redirect_to log_in_path %>
<% end %>
</section>
</div>
