<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @course.requirements %>
</p>

<p>
  <strong>Recommended requirements:</strong>
  <%= @course.recommended_requirements %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
