<%= form_for(@user_in_request) do |f| %>
  <% if @user_in_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_in_request.errors.count, "error") %> prohibited this user_in_request from being saved:</h2>

      <ul>
      <% @user_in_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :request_id %><br>
    <%= f.number_field :request_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
