<h1>Listing user_in_requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Request</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_in_requests.each do |user_in_request| %>
      <tr>
        <td><%= user_in_request.user_id %></td>
        <td><%= user_in_request.request_id %></td>
        <td><%= link_to 'Show', user_in_request %></td>
        <td><%= link_to 'Edit', edit_user_in_request_path(user_in_request) %></td>
        <td><%= link_to 'Destroy', user_in_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User in request', new_user_in_request_path %>
