<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_in_request.user_id %>
</p>

<p>
  <strong>Request:</strong>
  <%= @user_in_request.request_id %>
</p>

<%= link_to 'Edit', edit_user_in_request_path(@user_in_request) %> |
<%= link_to 'Back', user_in_requests_path %>
