<!DOCTYPE html>
<html>
<head>
  <title>DigitalOcean Rails Application</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="user_nav">
  <% if current_user %>
    Conectado como <%= current_user.email %>.
    <%= link_to "Cerrar sesión", log_out_path %>
  <% end %>
</div>

<% if current_user %>
	<% if userIsCoordinator %>
		<div>
			<%= link_to 'Propuestas', requests_path %> |
			<%= link_to 'Clases', courses_path %> |
			<%= link_to 'Horarios', schedules_path %> |
			<%= link_to 'Estados', states_path %> |
			<%= link_to 'Usuarios en propuestas', user_in_requests_path %>
		</div>
	<% end %>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
